# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Adriel Fabian Suryoto
- **Email:** adrielsuryoto@gmail.com
- **ID Dicoding:** adrielfs

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [90]:
#Importing libraries
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Data Wrangling

### Gathering Data

In [91]:
# Directory containing the csv files
data_directory = "data/"

# Load dataset
customers = pd.read_csv(data_directory + 'customers_dataset.csv')
geolocations = pd.read_csv(data_directory + 'geolocation_dataset.csv')
order_items = pd.read_csv(data_directory + 'order_items_dataset.csv')
order_payments = pd.read_csv(data_directory + 'order_payments_dataset.csv')
order_reviews = pd.read_csv(data_directory + 'order_reviews_dataset.csv')
orders = pd.read_csv(data_directory + 'orders_dataset.csv')
product_category_translation = pd.read_csv(data_directory + 'product_category_name_translation.csv')
products = pd.read_csv(data_directory + 'products_dataset.csv')
sellers = pd.read_csv(data_directory + 'sellers_dataset.csv')

In [92]:
# Display the first 5 rows of the customers dataset
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [93]:
# Display the first 5 rows of the geolocations dataset
geolocations.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [94]:
# Display the first 5 rows of the order_items dataset
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [95]:
# Display the first 5 rows of the order_payments dataset
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [96]:
# Display the first 5 rows of the order_reviews dataset
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [97]:
# Display the first 5 rows of the orders dataset
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [98]:
# Display the first 5 rows of the product_category_translation dataset
product_category_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [99]:
# Display the first 5 rows of the products dataset
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [100]:
# Display the first 5 rows of the sellers dataset
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

# Data Gathering Insights

## 1. Customer Data
- The customer data provides valuable insights into customer locations, including city and state information. This allows businesses to analyze geographic patterns in customer behavior, helping to optimize marketing strategies and target key regions where customer engagement is higher.
  
- The `customer_unique_id` is a critical field for tracking individual customer behavior across multiple orders, helping businesses to analyze repeat purchases and customer loyalty.

## 2. Geolocation Data
- Geolocation data, including latitude and longitude, allows for geographical analysis of orders. By mapping the locations of orders, businesses can gain insights into regional demand and identify areas that are underserved or highly saturated.
  
- This data can also be used to optimize delivery routes, reduce shipping times, and improve overall supply chain efficiency by understanding the proximity of customers to distribution centers.

## 3. Order Items Data
- The order items dataset provides detailed information on products sold, including product IDs and seller IDs. This data can be used to analyze product popularity, seller performance, and the frequency of certain products being purchased.
  
- By looking at item-level data, businesses can also track trends in customer preferences, identifying best-selling products and those that are underperforming.

## 4. Payments Data
- The payments data provides insights into payment methods used by customers, which can help businesses understand which payment options are most popular and ensure they are offering the right variety of methods to suit customer preferences.
  
- This data can also reveal patterns in customer spending behavior, including how many installments are typically used and the average transaction value.

## 5. Product Data
- The product data offers a detailed view of the various items being sold, including product categories and physical dimensions. This data is crucial for inventory management, pricing strategies, and understanding product demand.
  
- Detailed product descriptions and categories enable better marketing and product placement, ensuring that products are appropriately grouped and showcased to customers.

## 6. Seller Data
- The seller dataset allows businesses to analyze the distribution of sellers across different regions, which can help identify high-performing sellers and regions that may benefit from additional seller recruitment.

- Understanding seller performance at a granular level enables businesses to provide targeted support and resources to underperforming sellers, helping them improve their sales.

## 7. Order Reviews Data
- The order reviews data is valuable for analyzing customer satisfaction and identifying areas for improvement. By examining review scores alongside textual feedback, businesses can pinpoint common issues that customers face and take action to address them.

- Sentiment analysis on reviews can provide deeper insights into customer feelings about specific products or services, helping to improve overall customer experience.

## Key Insights from the Data Gathering Process
1. **Customer Segmentation**: The geographic and unique customer identifiers allow for segmentation by region and customer type, providing a foundation for targeted marketing and engagement strategies.

2. **Regional Demand**: Geolocation data gives insights into where demand is highest, helping businesses optimize distribution and marketing efforts in key areas.

3. **Product Performance**: Detailed order items and product data allow for comprehensive product performance tracking, enabling businesses to identify best-sellers and adjust inventory accordingly.

4. **Payment Preferences**: Payment data highlights the payment options customers prefer, which can guide decisions on offering or promoting certain payment methods.

5. **Customer Feedback**: Review data provides a direct line to customer sentiment, allowing businesses to act on feedback to improve products and services.

### Assessing Data

In [101]:
# Dataset information
print('\n', customers.info())
print('\n', geolocations.info())
print('\n', order_items.info())
print('\n', order_payments.info())
print('\n', order_reviews.info())
print('\n', orders.info())
print('\n', product_category_translation.info())
print('\n', products.info())
print('\n', sellers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

 None

In [102]:
# Missing values
print('\nMissing values in customers:\n', customers.isnull().sum())
print('\nMissing values in geolocations:\n', geolocations.isnull().sum())
print('\nMissing values in order items:\n', order_items.isnull().sum())
print('\nMissing values in order payments:\n', order_payments.isnull().sum())
print('\nMissing values in order reviews:\n', order_reviews.isnull().sum())
print('\nMissing values in orders:\n', orders.isnull().sum())
print('\nMissing values in product category translation:\n', product_category_translation.isnull().sum())
print('\nMissing values in products:\n', products.isnull().sum())
print('\nMissing values in sellers:\n', sellers.isnull().sum())

Missing values in customers:
 customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Missing values in geolocations:
 geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Missing values in order items:
 order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Missing values in order payments:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Missing values in order reviews:
 review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Missing values in orders:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Missing values in product category translation:
 product_category_name            0
product_category_name_english    0
dtype: int64

Missing values in products:
 product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Missing values in sellers:
 seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [103]:
# Duplicate rows
print('Duplicate rows in customers:', customers.duplicated().sum())
print('Duplicate rows in geolocations:', geolocations.duplicated().sum())
print('Duplicate rows in order items:', order_items.duplicated().sum())
print('Duplicate rows in order payments:', order_payments.duplicated().sum())
print('Duplicate rows in order reviews:', order_reviews.duplicated().sum())
print('Duplicate rows in orders:', orders.duplicated().sum())
print('Duplicate rows in product category translation:', product_category_translation.duplicated().sum())
print('Duplicate rows in products:', products.duplicated().sum())
print('Duplicate rows in sellers:', sellers.duplicated().sum())

Duplicate rows in customers: 0
Duplicate rows in geolocations: 261831
Duplicate rows in order items: 0
Duplicate rows in order payments: 0
Duplicate rows in order reviews: 0
Duplicate rows in orders: 0
Duplicate rows in product category translation: 0
Duplicate rows in products: 0
Duplicate rows in sellers: 0

In [104]:
# Summary statistics
print('\nSummary statistics for customers:\n', customers.describe(include='all'))
print('\nSummary statistics for geolocations:\n', geolocations.describe(include='all'))
print('\nSummary statistics for order items:\n', order_items.describe(include='all'))
print('\nSummary statistics for order payments:\n', order_payments.describe(include='all'))
print('\nSummary statistics for order reviews:\n', order_reviews.describe(include='all'))
print('\nSummary statistics for orders:\n', orders.describe(include='all'))
print('\nSummary statistics for product category translation:\n', product_category_translation.describe(include='all'))
print('\nSummary statistics for products:\n', products.describe(include='all'))
print('\nSummary statistics for sellers:\n', sellers.describe(include='all'))

Summary statistics for customers:
                              customer_id                customer_unique_id  \
count                              99441                             99441
unique                             99441                             96096
top     274fa6071e5e17fe303b9748641082c8  8d50f5eadf50201ccdcedfb9e2ac8455
freq                                   1                                17
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        customer_zip_code_prefix customer_city customer_state
count               99441.000000         99441          99441
unique                       NaN          4119             27
top                          NaN     sao paulo             SP
freq                         NaN         15540          41746
mean                35137.474583           NaN            NaN
std                 29797.938996           NaN            NaN
min                  1003.000000           NaN            NaN
25%                 11347.000000           NaN            NaN
50%                 24416.000000           NaN            NaN
75%                 58900.000000           NaN            NaN
max                 99990.000000           NaN            NaN

Summary statistics for geolocations:
         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
count                  1.000163e+06     1.000163e+06     1.000163e+06
unique                          NaN              NaN              NaN
top                             NaN              NaN              NaN
freq                            NaN              NaN              NaN
mean                   3.657417e+04    -2.117615e+01    -4.639054e+01
std                    3.054934e+04     5.715866e+00     4.269748e+00
min                    1.001000e+03    -3.660537e+01    -1.014668e+02
25%                    1.107500e+04    -2.360355e+01    -4.857317e+01
50%                    2.653000e+04    -2.291938e+01    -4.663788e+01
75%                    6.350400e+04    -1.997962e+01    -4.376771e+01
max                    9.999000e+04     4.506593e+01     1.211054e+02

       geolocation_city geolocation_state
count           1000163           1000163
unique             8011                27
top           sao paulo                SP
freq             135800            404268
mean                NaN               NaN
std                 NaN               NaN
min                 NaN               NaN
25%                 NaN               NaN
50%                 NaN               NaN
75%                 NaN               NaN
max                 NaN               NaN

Summary statistics for order items:
                                 order_id  order_item_id  \
count                             112650  112650.000000
unique                             98666            NaN
top     8272b63d03f5f79c56e9e4120aec44ef            NaN
freq                                  21            NaN
mean                                 NaN       1.197834
std                                  NaN       0.705124
min                                  NaN       1.000000
25%                                  NaN       1.000000
50%                                  NaN       1.000000
75%                                  NaN       1.000000
max                                  NaN      21.000000

                              product_id                         seller_id  \
count                             112650                            112650
unique                             32951                              3095
top     aca2eb7d00ea1a7b8ebd4e68314663af  6560211a19b47992c3666cc44a7e94c0
freq                                 527                              2033
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        shipping_limit_date          price  freight_value
count                112650  112650.000000  112650.000000
unique                93318            NaN            NaN
top     2017-07-21 18:25:23            NaN            NaN
freq                     21            NaN            NaN
mean                    NaN     120.653739      19.990320
std                     NaN     183.633928      15.806405
min                     NaN       0.850000       0.000000
25%                     NaN      39.900000      13.080000
50%                     NaN      74.990000      16.260000
75%                     NaN     134.900000      21.150000
max                     NaN    6735.000000     409.680000

Summary statistics for order payments:
                                 order_id  payment_sequential payment_type  \
count                             103886       103886.000000       103886
unique                             99440                 NaN            5
top     fa65dad1b0e818e3ccc5cb0e39231352                 NaN  credit_card
freq                                  29                 NaN        76795
mean                                 NaN            1.092679          NaN
std                                  NaN            0.706584          NaN
min                                  NaN            1.000000          NaN
25%                                  NaN            1.000000          NaN
50%                                  NaN            1.000000          NaN
75%                                  NaN            1.000000          NaN
max                                  NaN           29.000000          NaN

        payment_installments  payment_value
count          103886.000000  103886.000000
unique                   NaN            NaN
top                      NaN            NaN
freq                     NaN            NaN
mean                2.853349     154.100380
std                 2.687051     217.494064
min                 0.000000       0.000000
25%                 1.000000      56.790000
50%                 1.000000     100.000000
75%                 4.000000     171.837500
max                24.000000   13664.080000

Summary statistics for order reviews:
                                review_id                          order_id  \
count                              99224                             99224
unique                             98410                             98673
top     08528f70f579f0c830189efc523d2182  df56136b8031ecd28e200bb18e6ddb2e
freq                                   3                                 3
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        review_score review_comment_title review_comment_message  \
count   99224.000000                11568                  40977
unique           NaN                 4527                  36159
top              NaN            Recomendo              Muito bom
freq             NaN                  423                    230
mean        4.086421                  NaN                    NaN
std         1.347579                  NaN                    NaN
min         1.000000                  NaN                    NaN
25%         4.000000                  NaN                    NaN
50%         5.000000                  NaN                    NaN
75%         5.000000                  NaN                    NaN
max         5.000000                  NaN                    NaN

       review_creation_date review_answer_timestamp
count                 99224                   99224
unique                  636                   98248
top     2017-12-19 00:00:00     2017-06-15 23:21:05
freq                    463                       4
mean                    NaN                     NaN
std                     NaN                     NaN
min                     NaN                     NaN
25%                     NaN                     NaN
50%                     NaN                     NaN
75%                     NaN                     NaN
max                     NaN                     NaN

Summary statistics for orders:
                                 order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-08-02 12:05:26  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 19:36:48
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522

Summary statistics for product category translation:
        product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

Summary statistics for products:
                               product_id product_category_name  \
count                              32951                 32341
unique                             32951                    73
top     106392145fca363410d287a815be6de4       cama_mesa_banho
freq                                   1                  3029
mean                                 NaN                   NaN
std                                  NaN                   NaN
min                                  NaN                   NaN
25%                                  NaN                   NaN
50%                                  NaN                   NaN
75%                                  NaN                   NaN
max                                  NaN                   NaN

        product_name_lenght  product_description_lenght  product_photos_qty  \
count          32341.000000                32341.000000        32341.000000
unique                  NaN                         NaN                 NaN
top                     NaN                         NaN                 NaN
freq                    NaN                         NaN                 NaN
mean              48.476949                  771.495285            2.188986
std               10.245741                  635.115225            1.736766
min                5.000000                    4.000000            1.000000
25%               42.000000                  339.000000            1.000000
50%               51.000000                  595.000000            1.000000
75%               57.000000                  972.000000            3.000000
max               76.000000                 3992.000000           20.000000

        product_weight_g  product_length_cm  product_height_cm  \
count       32949.000000       32949.000000       32949.000000
unique               NaN                NaN                NaN
top                  NaN                NaN                NaN
freq                 NaN                NaN                NaN
mean         2276.472488          30.815078          16.937661
std          4282.038731          16.914458          13.637554
min             0.000000           7.000000           2.000000
25%           300.000000          18.000000           8.000000
50%           700.000000          25.000000          13.000000
75%          1900.000000          38.000000          21.000000
max         40425.000000         105.000000         105.000000

        product_width_cm
count       32949.000000
unique               NaN
top                  NaN
freq                 NaN
mean           23.196728
std            12.079047
min             6.000000
25%            15.000000
50%            20.000000
75%            30.000000
max           118.000000

Summary statistics for sellers:
                                seller_id  seller_zip_code_prefix seller_city  \
count                               3095             3095.000000        3095
unique                              3095                     NaN         611
top     9e25199f6ef7e7c347120ff175652c3b                     NaN   sao paulo
freq                                   1                     NaN         694
mean                                 NaN            32291.059451         NaN
std                                  NaN            32713.453830         NaN
min                                  NaN             1001.000000         NaN
25%                                  NaN             7093.500000         NaN
50%                                  NaN            14940.000000         NaN
75%                                  NaN            64552.500000         NaN
max                                  NaN            99730.000000         NaN

       seller_state
count          3095
unique           23
top              SP
freq           1849
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

# Data Assessment Insights

## 1. Missing Values
- **Order Reviews**: The significant number of missing values in `review_comment_title` and `review_comment_message` suggests that many customers provide only a review score without additional comments or titles. This indicates that the textual content of reviews may not fully represent customer feedback. If textual sentiment analysis is intended, this limitation must be considered.

- **Orders**: Missing values in columns like `order_approved_at`, `order_delivered_carrier_date`, and `order_delivered_customer_date` may indicate delays in processing or incomplete orders. Analyzing these missing entries can provide insights into operational inefficiencies or areas where customer service needs improvement.

- **Products**: The missing data in `product_category_name`, `product_name_length`, and `product_description_length` highlights inconsistencies in product data collection. This could result in gaps when analyzing product performance or understanding customer preferences by category or product description.

## 2. Product Weights (Products Dataset)
- The presence of zero values in the `product_weight_g` column indicates data entry errors. Products with a weight of zero cannot exist, and such data would skew analyses related to shipping costs, logistics, and product handling. These zero values should be investigated and replaced with valid data for accurate logistics analysis.

## 3. Duplicate Rows
- Even though no large number of duplicates were found, verifying that important fields such as `order_id` and `product_id` are not duplicated unnecessarily is crucial. Duplicate entries could distort sales reports, inventory management, and customer transaction tracking. Regular monitoring and cleaning for duplicates should be part of data maintenance.

## 4. Data Time Consistency (Orders Dataset)
- Missing delivery dates in the `order_delivered_customer_date` and `order_delivered_carrier_date` columns suggest that some orders might not have been delivered or were severely delayed. This is an important area for further investigation, as it could reveal bottlenecks in the supply chain, customer dissatisfaction, or issues with order fulfillment.

## 5. Review Scores and Comments
- The fact that many reviews are missing comments, especially in cases of low scores, might suggest that customers who are dissatisfied choose not to elaborate on their negative experiences. This presents an opportunity for businesses to encourage customers to provide more detailed feedback, which could be used to improve products or services.

## Key Insights from the Assessment
1. **Review Feedback**: The lack of detailed feedback in customer reviews implies that score-based review systems might not capture the full extent of customer opinions. Businesses might need to rethink how they encourage customers to leave more detailed reviews.

2. **Order Delivery Analysis**: Missing delivery dates are critical data points that, if not addressed, could distort any analysis related to shipping efficiency and customer satisfaction. Orders without delivery dates may also reflect lost revenue or customer dissatisfaction.

3. **Product Data Completeness**: The missing values in product data could hinder performance analysis and customer understanding. Without complete product descriptions or categories, businesses may face difficulties in optimizing product offerings or targeting the right audience.

4. **Weight Data Issues**: Incorrect weight data affects shipping and logistics, potentially leading to inaccurate shipping cost estimates, customer dissatisfaction, or inefficiencies in supply chain management.

5. **Duplicate Monitoring**: Though minimal duplication was found, regular audits of the data are necessary to ensure that duplicates do not accumulate over time, particularly in critical fields like `order_id` and `product_id`.

These insights highlight areas where data quality could be improved to enhance future analyses and business decision-making.

### Cleaning Data

In [105]:
# Handle missing values for 'review_comment_title' and 'review_comment_message' without inplace
order_reviews['review_comment_title'] = order_reviews['review_comment_title'].fillna('')
order_reviews['review_comment_message'] = order_reviews['review_comment_message'].fillna('')

print("\nMissing values handled for 'review_comment_title' and 'review_comment_message':")
print(order_reviews[['review_comment_title', 'review_comment_message']].isnull().sum())

Missing values handled for 'review_comment_title' and 'review_comment_message':
review_comment_title      0
review_comment_message    0
dtype: int64

In [106]:
# Drop rows with missing values in critical date columns for orders
orders_cleaned = orders.dropna(subset=['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date'])
print("\nMissing values handled for 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date':")
print(orders_cleaned.isnull().sum())

Missing values handled for 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date':
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [107]:
# Handle missing values in the products dataset
# Fill missing 'product_category_name' with 'Unknown', and for length, description, and photos, fill with median values
products['product_category_name'] = products['product_category_name'].fillna('Unknown')
products['product_name_lenght'] = products['product_name_lenght'].fillna(products['product_name_lenght'].median())
products['product_description_lenght'] = products['product_description_lenght'].fillna(products['product_description_lenght'].median())
products['product_photos_qty'] = products['product_photos_qty'].fillna(products['product_photos_qty'].median())

print("\nMissing values handled for 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty':")
print(products[['product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty']].isnull().sum())

Missing values handled for 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty':
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
dtype: int64

In [108]:
# Handle product weights with 0 by replacing with the median weight
median_weight = products['product_weight_g'].median()
products['product_weight_g'] = products['product_weight_g'].replace(0, median_weight)

print("\nProduct weights with 0 replaced with median weight:")
print(products[products['product_weight_g'] == 0])

Product weights with 0 replaced with median weight:
Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [109]:
# Drop any remaining rows in 'products' with missing dimensions (weight, length, height, width)
products_cleaned = products.dropna(subset=['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm'])
print("\nRemaining missing values handled for product dimensions:")
print(products_cleaned[['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']].isnull().sum())

Remaining missing values handled for product dimensions:
product_weight_g     0
product_length_cm    0
product_height_cm    0
product_width_cm     0
dtype: int64

In [111]:
# Remove duplicates
customers_cleaned = customers.drop_duplicates()
geolocations_cleaned = geolocations.drop_duplicates()
order_items_cleaned = order_items.drop_duplicates()
order_payments_cleaned = order_payments.drop_duplicates()
order_reviews_cleaned = order_reviews.drop_duplicates()
product_category_translation_cleaned = product_category_translation.drop_duplicates()
sellers_cleaned = sellers.drop_duplicates()

print("\nDuplicate rows removed from datasets:")
print(f"Customers: {customers_cleaned.shape}")
print(f"Geolocations: {geolocations_cleaned.shape}")
print(f"Order Items: {order_items_cleaned.shape}")
print(f"Order Payments: {order_payments_cleaned.shape}")
print(f"Order Reviews: {order_reviews_cleaned.shape}")
print(f"Product Category Translation: {product_category_translation_cleaned.shape}")
print(f"Sellers: {sellers_cleaned.shape}")

Duplicate rows removed from datasets:
Customers: (99441, 5)
Geolocations: (738332, 5)
Order Items: (112650, 7)
Order Payments: (103886, 5)
Order Reviews: (99224, 7)
Product Category Translation: (71, 2)
Sellers: (3095, 4)

# Data Cleaning Insights

## 1. Order Reviews
- Missing values in the columns `review_comment_title` and `review_comment_message` were filled with empty strings.
- This allows for complete analysis of reviews, even though many reviews don't have titles or detailed comments. It prevents any interruption in analyzing review scores alongside the presence or absence of textual feedback.
  
## 2. Orders
- Rows with missing values in the columns `order_approved_at`, `order_delivered_carrier_date`, and `order_delivered_customer_date` were dropped.
- This ensures that the analysis of delivery and processing times is based on complete and reliable data. This clean dataset will allow more accurate insights into delivery performance and delays.

## 3. Products
- Missing values in `product_category_name`, `product_name_lenght`, `product_description_lenght`, and `product_photos_qty` were filled with median values, or 'Unknown' where applicable.
- This allows for consistent analysis across products without being skewed by missing data. Having uniform categories and product details enables a more accurate understanding of product features and performance.
  
- Zero values in `product_weight_g` were replaced with the median weight, preventing skewed analysis in product logistics or shipping weight analysis.

## 4. Duplicates
- Duplicate rows were removed across datasets, ensuring data integrity.
- This step improves the overall reliability of the data for analysis, reducing noise that could arise from duplicate entries.

## 5. Data Time Consistency
- Orders with missing `order_delivered_customer_date` and `order_delivered_carrier_date` were removed, allowing for a cleaner dataset.
- This ensures that analyses regarding order delivery times, delays, or processing durations are accurate, as only fully complete order data is used.

## Key Insights
1. **Reviews**: A significant portion of reviews lacks detailed textual feedback, suggesting that many customers prefer to leave only a score. This insight may influence strategies for improving customer engagement with the review system.
   
2. **Orders**: By removing incomplete order records, the dataset can now be used to accurately assess shipping times, late deliveries, and processing efficiency.
   
3. **Products**: The presence of missing product details highlights areas where data collection could be improved. Products with missing categories or descriptions may need to be further classified to enable better product insights.
   
4. **Zero Weights**: Products with zero weights have been corrected, ensuring that logistics or cost analyses, especially in relation to shipping, will not be skewed by erroneous data.
   
5. **Duplicate Removal**: By removing duplicates, the dataset becomes more trustworthy, allowing for cleaner and more precise insights into customer behavior, product performance, and sales trends.

## Exploratory Data Analysis (EDA)

### Explore ...

NameError: name 'tools' is not defined

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2